{% extends 'base.html' %}

{% block title %}
 Flask 的首页
{% endblock %}


{% block main %}
    <div class="container">
        <div class="list-group">
        {% for a in articles %}
            {# {% if a.id == 101 %} #}
            {% if a == articles|first %}
                <a href="/{{a.id}}" class="list-group-item active">
                    {{ a.title }}
                </a>
            {% else %}
                <a href="/{{a.id}}" class="list-group-item">
                    {{ a.title }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
    </div>

{% endblock %}